nvim/plugin/packer_compiled.lua
nvim/cache/

**/.DS_Store
.vscode/
.idea/
.luarc.json

# other configurations but not included in this dotfiles repo
clash/
configstore/
fish/
flutter/
github-copilot/
iterm2/AppSupport
storage/
nvim-bak/
everforest/
trip-devtools/
zed/
gcloud/
